# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Django database and local secrets
*.sqlite3
*.db
*.log
.env
.env.*

# Uploaded media files
media/
staticfiles/  # In case you're using collectstatic locally
*.bak

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
desktop.ini

# Python test coverage
htmlcov/
.coverage
.tox/
.pytest_cache/

# Build files
build/
dist/
*.egg-info/
.eggs/

# Node modules (if using npm or frontend tools)
node_modules/

**/migrations/__pycache__/
**migrations/